[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-freshdesk = { git = 'https://github.com/alkivi-sas/python-freshdesk.git' }

[dev-packages]
pylint = "*"

[requires]
python_version = "3"
